
<ion-content>
  <div class="container scrollable-div">
    <br>
    <h1 class="label1" style="margin: 10px; color : white">Notification</h1>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <div class="box larger-shadow" style="display: flex;flex-wrap: nowrap;">
      <div style="width: 15%;"><img src="../../assets/appimage/61Hm3sqBoIL.jpg"></div>
      <div style="width: 75%;">
        <div class="notification_title">New product with 50% Apple Super</div>
        <div class="notification_text">The current version of this application is no longer supported. We apologize for any inconvenience we may have caused you.</div>
      </div>
      <div style="width: 10%;" class="notification_time">Now</div>
    </div>
    <br>
    <br>
    <br>
   </div> 
</ion-content>
